body{
	background-color: #CFF09E;
	font-family: Arial,sans-serif;
	font-size: 15px;
}
.content{
	width: 60%;
	min-width: 500px;
	margin: 0 auto;
	padding: 10px;
	background-color: #A8DBA8;
}
.content img{
	max-width: 450px;
	display: block;
	margin: 0 auto;
}
.content p{
	padding: 0 10px 0;
}
a{
	color: #0B486B;
	text-decoration: underline;
}
hr{
	border: none; /* Убираем границу для браузера Firefox */
  color: #0B486B; /* Цвет линии для остальных браузеров */
  background-color: #0B486B; /* Цвет линии для браузера Firefox и Opera */
  height: 1px; /* Толщина линии */
}
