body{
	background-color: #EDEBE6;
	font-family: Arial,sans-serif;
	font-size: 15px;
	color: #403B33;
}
.content{
	width: 60%;
	min-width: 500px;
	margin: 0 auto;
}
.content img{
	max-width: 450px;
	display: block;
	margin: 0 auto;
}
.content p{
	padding: 0 10px 0;
}
a{
	color: #D3643B;
	text-decoration: underline;
}
hr{
	border: none; /* Убираем границу для браузера Firefox */
  color: #D3643B; /* Цвет линии для остальных браузеров */
  background-color: #D3643B; /* Цвет линии для браузера Firefox и Opera */
  height: 1px; /* Толщина линии */
}
.section{
	padding: 10px;
	background-color: #D6E1C7;
	margin-top: 20px;
}
.task1 {
	height: 620px;
	overflow: auto;
}
.task2{
	color: #555;
	font-size: 14px;
}
.header {
	width: 50%;
	margin: 20px auto;
	padding: 10px 0;
	text-align: center;
	background-color: #94C7B6;
	border: 1px solid #777;
	box-shadow: 4px 4px 4px #555;
}
.list {
	width: 60%;
	margin: 0 auto;
	margin-top: 30px;
	padding: 15px;
	background-color: #EDEBE6;
	border: 1px solid #777;
	box-shadow: -6px -6px 10px #555;
}
.list a{
	text-decoration: none;
}
.list li{
	list-style-type: circle;
}
.second-list li{
	display: inline-block;
	margin: 0 10px;
}
